<form [formGroup]="studentForm" (ngSubmit)="onSubmit(id)">
    <fieldset>
        <legend>Elève</legend>
        <div>
            <label for="firstname">Prénom </label>
            <input type="text" id="firstname" name="firstname" placeholder="Firstname" formControlName="firstname" />
        </div>
        <div>
            <label for="lastname">Nom </label>
            <input type="text" id="lastname" name="lastname" placeholder="Lastname" formControlName="lastname" />
        </div>
        <div>
            <label for="age">Age </label>
            <input type="number" id="age" name="age" placeholder="Age" formControlName="age" />
        </div> <div>
            <label for="city">Ville </label>
            <input type="text" id="city" name="city" placeholder="City" formControlName="city" />
        </div>
        <button type="submit" [disabled]="!studentForm.valid">Mettre à jour</button>
    </fieldset>
</form>