<button (click)="onCreateStudent()">Inscrire un nouvel élève</button>
<div *ngFor="let student of students">
    <h1>{{ student.firstname }}</h1>
    <button (click)="onGetStudent(student._id)">Fiche de l'élève</button>
    <button (click)="onDeleteStudent(student._id)">Supprimer cet élève</button>
    <button (click)="onUpdateStudent(student._id)">Mettre à jour cet élève</button>
</div>