<form [formGroup]="exerciseForm" (ngSubmit)="onSubmit(id)">
    <fieldset>
        <legend>Exercice</legend>
        <div>
            <label for="statement">Enoncé </label>
            <input type="text" id="statement" name="statement" placeholder="Statement" formControlName="statement" />
        </div>
        <div>
            <label for="question">Question </label>
            <input type="text" id="question" name="question" placeholder="Question" formControlName="question" />
        </div>
        <div>
            <label for="response">Réponse </label>
            <input type="text" id="response" name="response" placeholder="Response" formControlName="response" />
        </div>
        <button type="submit" [disabled]="!exerciseForm.valid">Envoyer</button>
    </fieldset>
</form>