<form [formGroup]="login" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Se connecter</legend>
        <div>
            <label for="username">Username </label>
            <input type="text" id="username" name="username" placeholder="Username" formControlName="username" />
        </div>
        <div>
            <label for="password">Password </label>
            <input type="text" id="password" name="password" placeholder="Password" formControlName="password" />
        </div>
        <button type="submit" [disabled]="!login.valid">Envoyer</button>
    </fieldset>
</form>