<button (click)="onCreateExercise()">Ajouter un nouvel exercice</button>
<div *ngFor="let exercise of exercises">
    <h1>{{ exercise.statement }}</h1>
    <!-- <p>{{ exercise.question }}</p>
    <p>{{ exercise.response }}</p> -->
    <button (click)="onUpdateExercise(exercise._id)">Mettre à jour cet exercice</button>
    <button (click)="onDeleteExercise(exercise._id)">Supprimer cet exercice</button>
    <button (click)="onGetExercise(exercise._id)">Afficher cet exercice</button>
</div>